[Unit]
Description=Hardware RNG Entropy Gatherer Daemon

[Service]
EnvironmentFile=/etc/conf.d/rngd
ExecStart=/usr/sbin/rngd -f $RNGD_OPTS
SuccessExitStatus=66

[Install]
WantedBy=multi-user.target
